body {font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
table.pureCssMenu {background-color:#DFE0D0;margin:0px;list-style:none;padding:0px 0px 0px 0px;}
ul.pureCssMenu a, ul.pureCssMenu li.dis a:hover, ul.pureCssMenu li.sep a:hover {color: #000000;background-color:#DFE0D0;border-color:#DFE0D0;display:block;vertical-align:middle;border-width:1px;border-style:solid;text-align:left;text-decoration:none;padding:2px 5px 2px 10px;_padding-left:0;font:bold 13px Arial;text-decoration:none;cursor:default;}
ul.pureCssMenu,ul.pureCssMenu ul {background-color:#DFE0D0;margin:0px;list-style:none;padding:0px 2px 2px 0px;z-index:10000;}

ul.pureCssMenu li:hover>a{background-color:#B3B3B3;border-color:#B3B3B3;color: #FFFFFF;border-style:solid;font:bold 13px Arial;text-decoration:none;}
ul.pureCssMenu li a:hover{background-color:#B3B3B3;border-color:#B3B3B3;color: #FFFFFF;position:relative;border-style:solid;font:bold 13px Arial;text-decoration:none;}

ul.pureCssMenu {z-index:10000;}
ul.pureCssMenu ul{display:none}
ul.pureCssMenu li:hover>ul{display:block}
ul.pureCssMenu ul{position: absolute;left:-1px;top:98%;}
ul.pureCssMenu ul ul{position: absolute;left:98%;top:-2px;}
ul.pureCssMenu table {border-collapse:collapse}
ul.pureCssMenu {display:block;zoom:1;float: left;}
ul.pureCssMenu ul{width:185px;}
ul.pureCssMenu li{display:block;margin:2px 0px 0px 2px;font-size:0px;}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {outline-style:none;}
ul.pureCssMenu span{overflow:hidden;}
ul.pureCssMenu li {float:left;}
ul.pureCssMenu ul li {float:none;}
ul.pureCssMenu ul a {text-align:left;white-space:nowrap;}
ul.pureCssMenu li.sep{text-align:left;padding:0px;line-height:0;height:100%;}
ul.pureCssMenu ul li.sep span{width:100%;height:3px;}
ul.pureCssMenu img {border: none;float:left;_float:none;margin-right:2px;width:16px;height:16px;}
ul.pureCssMenu ul img {width:16px;height:16px;}
ul.pureCssMenu img.over{display:none}
ul.pureCssMenu li.dis a:hover img.over{display:none !important}
ul.pureCssMenu li.dis a:hover img.def {display:inline !important}
ul.pureCssMenu li:hover{position:relative;}
ul.pureCssMenu li:hover > a img.def{display:none}
ul.pureCssMenu li:hover > a img.over {display:inline}
ul.pureCssMenu a:hover img.over,ul.pureCssMenu a:hover ul img.def,ul.pureCssMenu a:hover a:hover ul img.def,ul.pureCssMenu a:hover a:hover img.over,ul.pureCssMenu a:hover a:hover a:hover img.over{display:inline}
ul.pureCssMenu a:hover img.def,ul.pureCssMenu a:hover ul img.over,ul.pureCssMenu a:hover a:hover ul img.over,ul.pureCssMenu a:hover a:hover img.def,ul.pureCssMenu a:hover a:hover a:hover img.def{display:none}
ul.pureCssMenu a:hover ul,ul.pureCssMenu a:hover a:hover ul{display:block}
ul.pureCssMenu a:hover ul ul{display:none}

ul.pureCssMenu span{display:block;background-image:url('http://192.168.0.215/yrocher/styles/dhtml_menu/arr_white.gif');background-position:right center;background-repeat: no-repeat;padding-right:12px;}
ul.pureCssMenu ul span,ul.pureCssMenu a:hover table span{background-image:url('http://192.168.0.215/yrocher/styles/dhtml_menu/arr_white.gif')}
ul.pureCssMenu li:hover>a>span{background-image:url('http://192.168.0.215/yrocher/styles/dhtml_menu/arrv_white.gif');}
ul.pureCssMenu a:hover span{_background-image:url('http://192.168.0.215/yrocher/styles/dhtml_menu/arrv_white.gif')}
