/* basic elements */
html {
	margin: 0;
	padding: 0;
}
body { 
}
table.TITRE {
	border: thin solid #FFFFFF;
	background-color: #D0E3FA;
	text-align: center;
	width: 100%;
}
table.FILTRE {
	border: thin solid #FFFFFF;
	color : #000000;
	background-color: #D0E3FA;
	text-align: center;
	width: 100%;
}
td.FILTRE {
	color : #000000;
}
th.THFILTRE {
	color : #000000;
}
table.GROUP {
	border: thin solid #FFFFFF;
	color : #0000CC;
	background-color: #D0E3FA;
	text-align: center;
	width: 100%;
}
td.GROUP {
	color : #0000CC;
}
th.THGROUP {
	color : #0000CC;
}
table.DETAIL {
	border: thin solid #FFFFFF;
	color : #228B22;
	background-color: #D0E3FA;
	text-align: center;
	width: 100%;
}
td.DETAIL {
	color : #228B22;
}
th.THDETAIL {
	color : #228B22;
}
table.RESULTAT {
	border: thin solid #000000;
	background-color: #F0F8FF;
	text-align: center;
	width: 100%;
}
th.THFILTRE {
	background-color: #D0E3FA;
	color : #000000;
}
td.TDFILTRE {
	border: thin solid #000000;
	color : #000000;
}
th.THGROUP {
	background-color: #D0E3FA;
	color : #0000CC;
}
td.TDGROUP {
	border: thin solid #0000CC;
	color : #0000CC;
}
th.THDETAIL {
	background-color: #D0E3FA;
	color : #228B22;
}
td.TDDETAIL {
	border: thin solid #228B22;
	color : #228B22;
}
th.THTOTAL {
	background-color: #D0E3FA;
	color : #000000;
}

