.tag_light_blue{
	background-color:#C7DCF5; /*CEE9F5; /*A9BCF5;*/
}

.tag_light_green{
	background-color: /*#E6FFD6;*/ hsla(111,100%,91%,0.5); 

}

.tag_green{
	background-color: #D8FFD1; 
}

.tag_ocher{
	background-color:hsla(57,87%,76%,0.5); /*#F2F5A9;*/
}

.tag_ocher_dark{
	background-color:#F7F18E; 
	
}


.tag_white{
	background-color:white;	
}

