body, td {
	text-decoration:none;
	font-family: lucida, verdana, helvetica, arial, sans-serif;
	font-size:12px;
	color: black;
}

a {
	text-decoration:none;
	font-size:12px;
	font-weight: bold;
	color: #336699;
}

a:hover {
	text-decoration:underline;
	color:#1133aa;
}

a.close {
	text-decoration:none;
	font-size:14px;
	font-weight: bold;
	color: red;
}

a.close:hover {
	background-color: #ffa500;
	text-decoration: none;
	color: red;
}

a.line:hover {
	text-decoration: underline;
}

.tit {
	text-decoration:none;
	font-size:12px;
	font-weight: bold;
	color: black;
}

.mic {
	text-decoration:none;
	font-size:8pt;
	font-weight: normal;
	color: #404040;
}

input {
	background-color: #dcdcdc;
}

input:focus {
	background-color: #fff;
}

.button {
	background-color: #dcdcdc;
}

.button:hover {
	background-color: #eee;
}

.button:focus {
	background-color: #fff;
}

.select {
	border: 1px solid black;
    font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #fff;
}
