#helpwindow{
position:absolute;
width:400px;
height:350px;
/*background:url(../images/fond_bleu.gif) repeat-y top left;*/
 background-color: #F1F1F1;
margin-top:120px;
padding:10px;
text-align :justify;
right:0px;
border:solid 3px #808080;
overflow:auto;
z-index:1;
} 

#helpwindowClose{
position:absolute;
right:10%;
bottom:10%;
z-index:1;
}

p.helpMsg{
font-family:Times New Roman,Arial,Helvetica;
color:white;
text-align :right;
margin-right:2px;
margin-top: 4px;
padding-bottom:17px;
font-size: 20px;
}

fieldset
{
	 border-style:ridge;
	 border-color:red;
	 padding: 5px;
}