<!-- DEB TEMPLATE = consulte_evenements_session.tmpl -->
<link rel="stylesheet" type="text/css" href="styles/fcs_style.css">
<p>&nbsp;<br>
<table align="center" border="0" cellspacing="1" cellpadding="0" align="left" valign="center">
    <tr>
        <td>
            <table align="center" border="0" cellspacing="0" cellpadding="1" align="center" valign="middle" width="100%">
                <tr>
                    <td class="FTC" align="left">&nbsp;Last session events for user <TMPL_VAR NAME=LOGIN></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td><table bgcolor="#000000" border="0" cellspacing="1" cellpadding="2" align="center" valign="center">
	<tr>
		<td class="LT">Date time</td>
		<td class="LT">Event</td>
	</tr>
<TMPL_IF LOOP_EVENT>
	<TMPL_LOOP NAME="LOOP_EVENT">
	<TMPL_IF NAME="ALTERNE">
	<tr class="ALTERNE_1">
	<TMPL_ELSE>
	<tr class="ALTERNE_2">
	</TMPL_IF>
		<td class="LD">&nbsp;<TMPL_VAR NAME="dateheure"></td>
		<td class="LD">&nbsp;<TMPL_VAR NAME="action"></td>
	</tr>
	</TMPL_LOOP>
<TMPL_ELSE>
	<tr bgcolor="#FFFFFF">
		<td colspan="2" class="LD">There is no event to display...</td>
	</tr>
</TMPL_IF>
	<tr bgcolor="#FFFFFF">
		<form action="liste_login.psp" method="POST">
		<td class="LT" colspan="2" align="center" valign="center"><input type="hidden" name="TICKET" value="<TMPL_VAR NAME="TICKET">"><input type="submit" name="submit" value="Users list"></td>
		</form>
	</tr>
</table></td>
</tr>
</table>
</p>
</BODY>
</HTML>
<!-- FIN TEMPLATE = consulte_evenements_session.tmpl -->
