<SCRIPT LANGUAGE="javascript" type="text/javascript">
function NelleFenetre(mapage,nom,Graph,AnDebut,AnFin) {
        var win=null;
        var settings= 'width=1000, scrollbars=yes,location=no,directories=no,status=no,menubar=yes,toolbar=no,resizable=yes';

	var ANDEBUT = AnDebut;
	var ANFIN = AnFin;
	var GRAPH = Graph;
	var URL = mapage+"?"+"Graph="+GRAPH+"&AnDebut="+ANDEBUT+"&AnFin="+ANFIN;

alert (URL);
	win=window.open(URL,nom,settings);
}
</SCRIPT>

<FORM NAME="form_container">
  <input type="hidden" name="TICKET" value="<TMPL_VAR NAME=TICKET>">
  <link rel="stylesheet" type="text/css" href="styles/cbr_styles.css">
  <TABLE class="TITRE">
    <TR><TD class="TITRE">TRAFFIC CONTAINER</TD></TR>
  </TABLE>
  <BR>
  <TABLE class="FILTRE">
    <TR><TH class="THFILTRE" align="left">FILTERS</TH></TR>
    <TR><TD class="FILTRE" align="right">From</TD>
        <TD align="left"><select name="AnDebut" ID="AnDebut">
          <TMPL_LOOP loop_year_debut>
            <TMPL_IF selected>
              <option value="<TMPL_VAR year>" selected><TMPL_VAR year></option>
            <TMPL_ELSE>
              <option value="<TMPL_VAR year>"><TMPL_VAR year></option>
            </TMPL_IF>
          </TMPL_LOOP></select></TD>
        <TD class="FILTRE" align="right">To</TD>
        <TD class="FILTRE" align="left"><select name="AnFin" ID="AnFin">
          <TMPL_LOOP loop_year_fin>
            <TMPL_IF selected>
              <option value="<TMPL_VAR year>" selected><TMPL_VAR year></option>
            <TMPL_ELSE>
              <option value="<TMPL_VAR year>"><TMPL_VAR year></option>
	    </TMPL_IF>
          </TMPL_LOOP></select></TD>
    </TR>
  </TABLE>  
  <TABLE class="FILTRE">
   <TR><TH class="THGROUP" align="left">GRAPHE</TH></TR>
   <TR><TD class="GROUP" align="center"><select name="Graph" ID="Graph">
         <TMPL_LOOP loop_graphe>
           <TMPL_IF selected>
             <option value="<TMPL_VAR graphe>" selected><TMPL_VAR libelle></option>
           <TMPL_ELSE>
             <option value="<TMPL_VAR graphe>"><TMPL_VAR libelle></option>
           </TMPL_IF>
         </TMPL_LOOP></SELECT></TD>
   </TR>
  </TABLE>  

  <TABLE class="RESULTAT">
    <TR><TH class="THTOTAL" align="center">&nbsp;<a class="DETAIL" href="javascript:void(0);" onclick="NelleFenetre('<TMPL_VAR NAME=PhpUrl>','CONTAINERS_TRAFFIC',document.form_container.Graph.value,document.form_container.AnDebut.value,document.form_container.AnFin.value);return false;">View Graph</a></TH></TR>
  </TABLE>
</FORM>

