<HTML>
<SCRIPT LANGUAGE="javascript" type="text/javascript">
function NelleFenetre(mapage,nom){
        var win=null;
        var settings= 'width=1000, scrollbars=yes,location=no,directories=no,status=no,menubar=yes,toolbar=no,resizable=yes';
	win=window.open(mapage,nom,settings);
}

function exportToXL(id) {
}
</SCRIPT>

<FORM NAME="form_container_analysies_pol" method="post" ACTION="container_analysies_pol.psp">
  <input type="hidden" name="TICKET" value="<TMPL_VAR NAME=TICKET>">
  <input type="hidden" name="TypeCt" value="<TMPL_VAR NAME=TypeCt>">
  <input type="hidden" name="OnlyResult" value="<TMPL_VAR NAME=OnlyResult>">
<TMPL_IF NAME="OnlyResult">
<TMPL_ELSE>
  <link rel="stylesheet" type="text/css" href="styles/cbr_styles.css">
  <TABLE class="TITRE">
    <TR><TD class="TITRE">CONTAINERS ANALYSES</TD></TR>
    <TR><TD class="TITRE">Loading Ports</TD></TR>
  </TABLE>
  <BR>
  <TABLE class="FILTRE">
    <TR><TH class="THFILTRE" align="left">FILTERS</TH></TR>
    <TR><TD class="FILTRE" align="right">From</TD>
        <TD align="left"><select name="AnDebut" ID="AnDebut">
          <TMPL_LOOP loop_year_debut>
            <TMPL_IF selected>
              <option value="<TMPL_VAR year>" selected><TMPL_VAR year></option>
            <TMPL_ELSE>
              <option value="<TMPL_VAR year>"><TMPL_VAR year></option>
            </TMPL_IF>
          </TMPL_LOOP></select>
        <select name="MoisDebut" ID="MoisDebut">
          <TMPL_LOOP loop_month_debut>
            <TMPL_IF selected>
              <option value="<TMPL_VAR month>" selected><TMPL_VAR month></option>
            <TMPL_ELSE>
              <option value="<TMPL_VAR month>"><TMPL_VAR month></option>
            </TMPL_IF>
          </TMPL_LOOP></select></TD>
        <TD class="FILTRE" align="right">To</TD>
        <TD class="FILTRE" align="left"><select name="AnFin" ID="AnFin">
          <TMPL_LOOP loop_year_fin>
            <TMPL_IF selected>
              <option value="<TMPL_VAR year>" selected><TMPL_VAR year></option>
            <TMPL_ELSE>
              <option value="<TMPL_VAR year>"><TMPL_VAR year></option>
	    </TMPL_IF>
          </TMPL_LOOP></select>
        <select name="MoisFin" ID="MoisFin">
          <TMPL_LOOP loop_month_fin>
            <TMPL_IF selected>
              <option value="<TMPL_VAR month>" selected><TMPL_VAR month></option>
            <TMPL_ELSE>
              <option value="<TMPL_VAR month>"><TMPL_VAR month></option>
            </TMPL_IF>
          </TMPL_LOOP></select></TD>
    </TR>
    </TABLE>
    <TABLE class="FILTRE">
    <TR><TD class="FILTRE" align="right">Forwarder</TD>
        <TD class="FILTRE" align="left"><select name="Forwarder" ID="Forwarder">
          <TMPL_LOOP loop_forwarder>
            <TMPL_IF selected>
              <option value="<TMPL_VAR forwarder>" selected><TMPL_VAR forwarder></option>
            <TMPL_ELSE>
              <option value="<TMPL_VAR forwarder>"><TMPL_VAR forwarder></option>
	    </TMPL_IF>
          </TMPL_LOOP></select></TD>
        <TD class="FILTRE" align="right">Country (loading)</TD>
        <TD class="FILTRE" align="left"><select name="Country" ID="Country">
          <TMPL_LOOP loop_country>
            <TMPL_IF selected>
              <option value="<TMPL_VAR country>" selected><TMPL_VAR country></option>
	    <TMPL_ELSE>
              <option value="<TMPL_VAR country>"><TMPL_VAR country></option>
	    </TMPL_IF>
          </TMPL_LOOP></select></TD>
        <TD class="FILTRE" align="right">Port (loading)</TD>
        <TD class="FILTRE" align="left"><select name="Port" ID="Port">
          <TMPL_LOOP loop_port>
            <TMPL_IF selected>
              <option value="<TMPL_VAR port>" selected><TMPL_VAR port></option>
	    <TMPL_ELSE>
              <option value="<TMPL_VAR port>"><TMPL_VAR port></option>
	    </TMPL_IF>
          </TMPL_LOOP></select></TD>
    </TR>
    </TABLE>
    <TABLE class="FILTRE">
    <TR>
      <TMPL_LOOP loop_type>
        <TD class="FILTRE" align="right"><INPUT TYPE=CHECKBOX NAME="<TMPL_VAR type>" VALUE="Yes" <TMPL_IF selection>CHECKED</TMPL_IF>></TD>
	<TD class="FILTRE" align="left"><TMPL_VAR libelle></TD>
      </TMPL_LOOP>
    </TR>
  </TABLE>
  <BR>
  <TABLE class="GROUP">
    <TR><TH class="THGROUP" align="left">GROUP BY</TH></TR>
    <TR><TD class="GROUP" align="right">Periods :</TD>
        <TD class="FILTRE" align="right"><INPUT TYPE=RADIO NAME="GPeriod" VALUE="" CHECKED></TD>
        <TD class="FILTRE" align="left">[ Only by Year ]</TD>
        <TD class="GROUP" align="right">
          <TMPL_IF NAME="GQuarterChecked"><INPUT TYPE=RADIO NAME="GPeriod" VALUE="Q" CHECKED>
          <TMPL_ELSE><INPUT TYPE=RADIO NAME="GPeriod" VALUE="Q">
          </TMPL_IF></TD>
	<TD class="GROUP" align="left">[ Details by Year / Quarter ]</TD>
        <TD class="GROUP" align="right">
          <TMPL_IF NAME="GMonthChecked"><INPUT TYPE=RADIO NAME="GPeriod" VALUE="M" CHECKED>
          <TMPL_ELSE><INPUT TYPE=RADIO NAME="GPeriod" VALUE="M">
          </TMPL_IF></TD>
	<TD class="GROUP" align="left">[ Details by Year / Month ]</TD>
    </TR> 
  </TABLE>  
  <TABLE class="GROUP">
    <TR><TD class="GROUP" align="right">Regions :</TD>
        <TD class="FILTRE" align="right"><INPUT TYPE=RADIO NAME="GRegion" VALUE="" CHECKED></TD>
        <TD class="FILTRE" align="left">[ Only by Country ]</TD>
        <TD class="GROUP" align="right">
      	  <TMPL_IF NAME="GPolChecked"><INPUT TYPE=RADIO NAME="GRegion" VALUE="P" CHECKED>
          <TMPL_ELSE><INPUT TYPE=RADIO NAME="GRegion" VALUE="P">
          </TMPL_IF></TD>
	<TD class="GROUP" align="left">[ Details by Country / Port (loading) ]</TD>
        <TD class="GROUP" align="right">
      	  <TMPL_IF NAME="GPodChecked"><INPUT TYPE=RADIO NAME="GRegion" VALUE="V" CHECKED>
          <TMPL_ELSE><INPUT TYPE=RADIO NAME="GRegion" VALUE="V">
          </TMPL_IF></TD>
	<TD class="GROUP" align="left">[ Details by Country / Ports ]</TD>
    </TR>
  </TABLE>  
  <BR>
  <TABLE class="GROUP">
    <TR><TH class="THGROUP" align="left">ORDER BY</TH></TR>
    <TR><TD class="GROUP" align="center"><select name="Order" ID="Order">
        <TMPL_LOOP loop_order>
            <TMPL_IF selected>
              <option value="<TMPL_VAR order>" selected><TMPL_VAR libelle></option>
	    <TMPL_ELSE>
              <option value="<TMPL_VAR order>"><TMPL_VAR libelle></option>
	    </TMPL_IF>
	</TMPL_LOOP></SELECT></TD>
    </TR>
  </TABLE>  
  <BR>
  <TABLE class="DETAIL">
    <TR><TH class="THDETAIL" align="left">DETAILS</TH></TR>
    <TR><TD class="DETAIL" align="right">
          <INPUT TYPE=CHECKBOX NAME="DContainer" VALUE="Yes" <TMPL_IF DContainer>CHECKED</TMPL_IF>></TD>
	<TD class="DETAIL" align="left"># Containers</TD>
        <TD class="DETAIL" align="right">
	  <INPUT TYPE=CHECKBOX NAME="DLoaded" VALUE="Yes" <TMPL_IF DLoaded>CHECKED</TMPL_IF>></TD>
	<TD class="DETAIL" align="left">CBMs Loaded</TD>
        <TD class="DETAIL" align="right">
	  <INPUT TYPE=CHECKBOX NAME="DLoading" VALUE="Yes" <TMPL_IFDLoading>CHECKED</TMPL_IF>></TD>
	<TD class="DETAIL" align="left">Containers CBMs</TD>
        <TD class="DETAIL" align="right">
          <INPUT TYPE=CHECKBOX NAME="DRate" VALUE="Yes" <TMPL_IF DRate>CHECKED</TMPL_IF>></TD>
	<TD class="DETAIL" align="left">Rate</TD>
        <TD class="DETAIL" align="right">
	  <INPUT TYPE=CHECKBOX NAME="DWeight" VALUE="Yes" <TMPL_IF DWeight>CHECKED</TMPL_IF>></TD>
	<TD class="DETAIL" align="left">Weight</TD>
    </TR>
    <TR>
  </TABLE>
  <TABLE class="DETAIL">
    <TR><TD class="DETAIL"><input type="submit" name="submit" value="Submit"></TD></TR>
  </TABLE>
  <BR>
</TMPL_IF>
  <TABLE class="RESULTAT" BORDER="1">
    <TR>
     <TMPL_IF NAME="Order1">
      <TH class="THFILTRE">Year</TH>
      <TMPL_IF NAME="Aff_Quarter"><TH class="THGROUP">Quarter</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Month"><TH class="THGROUP">Month</TH></TMPL_IF>
      <TH class="THFILTRE">Forwarder</TH>
      <TH class="THFILTRE">Country</TH>
      <TMPL_IF NAME="Aff_Pol"><TH class="THGROUP">Loading Port</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Pod"><TH class="THGROUP">Discharge Port</TH></TMPL_IF>
     </TMPL_IF> 
     <TMPL_IF NAME="Order2">
      <TH class="THFILTRE">Year</TH>
      <TMPL_IF NAME="Aff_Quarter"><TH class="THGROUP">Quarter</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Month"><TH class="THGROUP">Month</TH></TMPL_IF>
      <TH class="THFILTRE">Country</TH>
      <TMPL_IF NAME="Aff_Pol"><TH class="THGROUP">Loading Port</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Pod"><TH class="THGROUP">Discharge Port</TH></TMPL_IF>
      <TH class="THFILTRE">Forwarder</TH>
     </TMPL_IF> 
     <TMPL_IF NAME="Order3">
      <TH class="THFILTRE">Forwarder</TH>
      <TH class="THFILTRE">Year</TH>
      <TMPL_IF NAME="Aff_Quarter"><TH class="THGROUP">Quarter</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Month"><TH class="THGROUP">Month</TH></TMPL_IF>
      <TH class="THFILTRE">Country</TH>
      <TMPL_IF NAME="Aff_Pol"><TH class="THGROUP">Loading Port</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Pod"><TH class="THGROUP">Discharge Port</TH></TMPL_IF>
     </TMPL_IF> 
     <TMPL_IF NAME="Order4">
      <TH class="THFILTRE">Forwarder</TH>
      <TH class="THFILTRE">Country</TH>
      <TMPL_IF NAME="Aff_Pol"><TH class="THGROUP">Loading Port</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Pod"><TH class="THGROUP">Discharge Port</TH></TMPL_IF>
      <TH class="THFILTRE">Year</TH>
      <TMPL_IF NAME="Aff_Quarter"><TH class="THGROUP">Quarter</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Month"><TH class="THGROUP">Month</TH></TMPL_IF>
     </TMPL_IF> 
     <TMPL_IF NAME="Order5">
      <TH class="THFILTRE">Country</TH>
      <TMPL_IF NAME="Aff_Pol"><TH class="THGROUP">Loading Port</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Pod"><TH class="THGROUP">Discharge Port</TH></TMPL_IF>
      <TH class="THFILTRE">Year</TH>
      <TMPL_IF NAME="Aff_Quarter"><TH class="THGROUP">Quarter</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Month"><TH class="THGROUP">Month</TH></TMPL_IF>
      <TH class="THFILTRE">Forwarder</TH>
     </TMPL_IF> 
     <TMPL_IF NAME="Order6">
      <TH class="THFILTRE">Country</TH>
      <TMPL_IF NAME="Aff_Pol"><TH class="THGROUP">Loading Port</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Pod"><TH class="THGROUP">Discharge Port</TH></TMPL_IF>
      <TH class="THFILTRE">Forwarder</TH>
      <TH class="THFILTRE">Year</TH>
      <TMPL_IF NAME="Aff_Quarter"><TH class="THGROUP">Quarter</TH></TMPL_IF>
      <TMPL_IF NAME="Aff_Month"><TH class="THGROUP">Month</TH></TMPL_IF>
     </TMPL_IF> 
      <TH class="THFILTRE">Type Ct</TH>
      <TMPL_IF NAME="DContainer"><TH class="THDETAIL"># Ct</TMPL_IF>
      <TMPL_IF NAME="DLoaded"><TH class="THDETAIL">CBMs loaded</TH></TMPL_IF>
      <TMPL_IF NAME="DLoading"><TH class="THDETAIL">Containers CBMs</TH></TMPL_IF>
      <TMPL_IF NAME="DRate"><TH class="THDETAIL">Rate</TH></TMPL_IF>
      <TMPL_IF NAME="DWeight"><TH class="THDETAIL">Weight</TH></TMPL_IF>
    </TR>
    <TMPL_LOOP loop_resultat>
    <TR>
      <TMPL_IF NAME="TOTAL">
        <TH class="THTOTAL">TOTAL</TH>
        <TMPL_IF NAME="aff_quarter"><TH class="THTOTAL">&nbsp;</TH></TMPL_IF>
        <TMPL_IF NAME="aff_month"><TH class="THTOTAL">&nbsp;</TH></TMPL_IF>
        <TH class="THTOTAL">&nbsp;</TH>
        <TH class="THTOTAL">&nbsp;</TH>
        <TMPL_IF NAME="aff_pol"><TH class="THTOTAL">&nbsp;</TH></TMPL_IF>
        <TMPL_IF NAME="aff_pod"><TH class="THTOTAL">&nbsp;<TMPL_VAR pod></TH></TMPL_IF>
        <TH class="THTOTAL">&nbsp;</TH>
        <TMPL_IF NAME="DContainer"><TH class="THTOTAL" align="right"><TMPL_VAR container_nombre></TH></TMPL_IF>
        <TMPL_IF NAME="DLoaded"><TH class="THTOTAL" align="right"><TMPL_VAR cbm_loaded></TH></TMPL_IF>
        <TMPL_IF NAME="DLoading"><TH class="THTOTAL" align="right"><TMPL_VAR cbm_loading></TH></TMPL_IF>
        <TMPL_IF NAME="DRate"><TH class="THTOTAL" align="right"><TMPL_VAR rate></TH></TMPL_IF>
        <TMPL_IF NAME="DWeight"><TH class="THTOTAL" align="right"><TMPL_VAR weight></TH></TMPL_IF>
      <TMPL_ELSE>
       <TMPL_IF NAME="Order1">
        <TD class="TDFILTRE"><TMPL_VAR year></TD>
        <TMPL_IF NAME="aff_quarter"><TD class="TDGROUP"><TMPL_VAR quarter></TD></TMPL_IF>
        <TMPL_IF NAME="aff_month"><TD class="TDGROUP"><TMPL_VAR month></TD></TMPL_IF>
        <TD class="TDFILTRE"><TMPL_VAR forwarder></TD>
        <TD class="TDFILTRE"><TMPL_VAR country></TD>
        <TMPL_IF NAME="aff_pol"><TD class="TDGROUP"><TMPL_VAR pol></TD></TMPL_IF>
        <TMPL_IF NAME="aff_pod"><TD class="TDGROUP"><TMPL_VAR pod></TD></TMPL_IF>
       </TMPL_IF>	
       <TMPL_IF NAME="Order2">
        <TD class="TDFILTRE"><TMPL_VAR year></TD>
        <TMPL_IF NAME="aff_quarter"><TD class="TDGROUP"><TMPL_VAR quarter></TD></TMPL_IF>
        <TMPL_IF NAME="aff_month"><TD class="TDGROUP"><TMPL_VAR month></TD></TMPL_IF>
        <TD class="TDFILTRE"><TMPL_VAR country></TD>
        <TMPL_IF NAME="aff_pol"><TD class="TDGROUP"><TMPL_VAR pol></TD></TMPL_IF>
        <TMPL_IF NAME="aff_pod"><TD class="TDGROUP"><TMPL_VAR pod></TD></TMPL_IF>
        <TD class="TDFILTRE"><TMPL_VAR forwarder></TD>
       </TMPL_IF>	
       <TMPL_IF NAME="Order3">
        <TD class="TDFILTRE"><TMPL_VAR forwarder></TD>
        <TD class="TDFILTRE"><TMPL_VAR year></TD>
        <TMPL_IF NAME="aff_quarter"><TD class="TDGROUP"><TMPL_VAR quarter></TD></TMPL_IF>
        <TMPL_IF NAME="aff_month"><TD class="TDGROUP"><TMPL_VAR month></TD></TMPL_IF>
        <TD class="TDFILTRE"><TMPL_VAR country></TD>
        <TMPL_IF NAME="aff_pol"><TD class="TDGROUP"><TMPL_VAR pol></TD></TMPL_IF>
        <TMPL_IF NAME="aff_pod"><TD class="TDGROUP"><TMPL_VAR pod></TD></TMPL_IF>
       </TMPL_IF>	
       <TMPL_IF NAME="Order4">
        <TD class="TDFILTRE"><TMPL_VAR forwarder></TD>
        <TD class="TDFILTRE"><TMPL_VAR country></TD>
        <TMPL_IF NAME="aff_pol"><TD class="TDGROUP"><TMPL_VAR pol></TD></TMPL_IF>
        <TMPL_IF NAME="aff_pod"><TD class="TDGROUP"><TMPL_VAR pod></TD></TMPL_IF>
        <TD class="TDFILTRE"><TMPL_VAR year></TD>
        <TMPL_IF NAME="aff_quarter"><TD class="TDGROUP"><TMPL_VAR quarter></TD></TMPL_IF>
        <TMPL_IF NAME="aff_month"><TD class="TDGROUP"><TMPL_VAR month></TD></TMPL_IF>
       </TMPL_IF>	
       <TMPL_IF NAME="Order5">
        <TD class="TDFILTRE"><TMPL_VAR country></TD>
        <TMPL_IF NAME="aff_pol"><TD class="TDGROUP"><TMPL_VAR pol></TD></TMPL_IF>
        <TMPL_IF NAME="aff_pod"><TD class="TDGROUP"><TMPL_VAR pod></TD></TMPL_IF>
        <TD class="TDFILTRE"><TMPL_VAR year></TD>
        <TMPL_IF NAME="aff_quarter"><TD class="TDGROUP"><TMPL_VAR quarter></TD></TMPL_IF>
        <TMPL_IF NAME="aff_month"><TD class="TDGROUP"><TMPL_VAR month></TD></TMPL_IF>
        <TD class="TDFILTRE"><TMPL_VAR forwarder></TD>
       </TMPL_IF>	
       <TMPL_IF NAME="Order6">
        <TD class="TDFILTRE"><TMPL_VAR country></TD>
        <TMPL_IF NAME="aff_pol"><TD class="TDGROUP"><TMPL_VAR pol></TD></TMPL_IF>
        <TMPL_IF NAME="aff_pod"><TD class="TDGROUP"><TMPL_VAR pod></TD></TMPL_IF>
        <TD class="TDFILTRE"><TMPL_VAR forwarder></TD>
        <TD class="TDFILTRE"><TMPL_VAR year></TD>
        <TMPL_IF NAME="aff_quarter"><TD class="TDGROUP"><TMPL_VAR quarter></TD></TMPL_IF>
        <TMPL_IF NAME="aff_month"><TD class="TDGROUP"><TMPL_VAR month></TD></TMPL_IF>
       </TMPL_IF>	
        <TD class="TDFILTRE"><TMPL_VAR container_type></TD>
        <TMPL_IF NAME="DContainer"><TD class="TDDETAIL" align="right"><TMPL_VAR container_nombre></TD></TMPL_IF>
        <TMPL_IF NAME="DLoaded"><TD class="TDDETAIL" align="right"><TMPL_VAR cbm_loaded></TD></TMPL_IF>
        <TMPL_IF NAME="DLoading"><TD class="TDDETAIL" align="right"><TMPL_VAR cbm_loading></TD></TMPL_IF>
        <TMPL_IF NAME="DRate"><TD class="TDDETAIL" align="right"><TMPL_VAR rate></TD></TMPL_IF>
        <TMPL_IF NAME="DWeight"><TD class="TDDETAIL" align="right"><TMPL_VAR weight></TD></TMPL_IF>
      </TMPL_IF>
    </TR>
    </TMPL_LOOP>
  </TABLE>  
<TMPL_IF NAME="OnlyResult">
<TMPL_ELSE>
  <TABLE class="RESULTAT">
    <TR><TH class="THTOTAL" align="center">&nbsp;<a class="DETAIL" href="javascript:void(0);" onclick="NelleFenetre('<TMPL_VAR NAME=NewUrl>','CONTAINERS_ANALYSES_POL');return false;">Export to excel</a></TH></TR>
</TMPL_IF>    
  </TABLE>
</FORM>
<HTML>

