<HTML>
<TMPL_IF TO_EXCELL>
<table border="1">
	<tr>
		<td><b>STATUT</b></td>
		<td><b>UO</b></td>
		<td><b>PO/SHPT</b></td>
		<td><b>EMBARQUEMENT</b></td>
		<td><b>CA IMPORT NET COTE</b></td>
		<td><b>CA IMPORT NET ENGAGE</b></td>
		<td><b>CA IMPORT NET FACTURE</b></td>
		<!--<td><b>IS ID FEES BY SHPT </b></td>-->
		<td><b>C FREIGHT</b></td>
		<td><b>C PORT SERVICE</b></td>
		<td><b>C CUSTOMS</b></td>
		<td><b>C FINAL DELIVERY</b></td>
		<td><b>C WAREHOUSING</b></td>
		<td><b>C FEES</b></td>
		<td><b>C ADMIN LOADS</b></td>
		<td><b>C OTHER COSTS</b></td>
		<td><b>C TOTAL</b></td>
		<td><b>C DEVICE</b></td>
		<td><b>C TAUX</b></td>
		<td><b>C NB PCS</b></td>
		<td><b>C M3</b></td>
		
		<td><b>C LCL</b></td>
		<td><b>C 20</b></td>
		<td><b>C 20FR</b></td>
		<td><b>C 40</b></td>
		<td><b>C 40FR</b></td>
		<td><b>C 45</b></td>
		<td><b>C 40HC</b></td>
		<td><b>C 40HR</b></td>
		<td><b>C CFS</b></td>
		<td><b>C AIR</b></td>
		
		<td><b>A FREIGHT</b></td>
		<td><b>A PORT SERVICE</b></td>
		<td><b>A CUSTOMS</b></td>
		<td><b>A FINAL DELIVERY</b></td>
		<td><b>A WAREHOUSING</b></td>
		<td><b>A FEES</b></td>
		<td><b>A ADMIN LOADS</b></td>
		<td><b>A OTHER COSTS</b></td>
		<td><b>A TOTAL</b></td>
		<td><b>A DEVICE</b></td>
		<td><b>A TAUX</b></td>
		<td><b>A NB PCS</b></td>
		<td><b>A M3</b></td>
		
		<td><b>A LCL</b></td>
		<td><b>A 20</b></td>
		<td><b>A 20FR</b></td>
		<td><b>A 40</b></td>
		<td><b>A 40FR</b></td>
		<td><b>A 45</b></td>
		<td><b>A 40HC</b></td>
		<td><b>A 40HR</b></td>
		<td><b>A CFS</b></td>
		<td><b>A AIR</b></td>
		
		<td><b>F FREIGHT</b></td>
		<td><b>F PORT SERVICE</b></td>
		<td><b>F CUSTOMS</b></td>
		<td><b>F FINAL DELIVERY</b></td>
		<td><b>F WAREHOUSING</b></td>
		<td><b>F FEES</b></td>
		<td><b>F ADMIN LOADS</b></td>
		<td><b>F OTHER COSTS</b></td>
		<td><b>F TOTAL</b></td>
		<td><b>F SURCOUT</b></td>
		<td><b>F DEVICE</b></td>
		<td><b>F TAUX</b></td>
		<td><b>E FREIGHT</b></td>
		<td><b>E PORT SERVICE</b></td>
		<td><b>E CUSTOMS</b></td>
		<td><b>E FINAL DELIVERY</b></td>
		<td><b>E WAREHOUSING</b></td>
		<td><b>E FEES</b></td>
		<td><b>E ADMIN LOADS</b></td>
		<td><b>E OTHER COSTS</b></td>
		<td><b>E TOTAL</b></td>
		<td><b>E DEVICE</b></td>
		<td><b>E TAUX</b></td>
		<td><b>E NB PCS</b></td>
		<td><b>E M3</b></td>
	    <td><b>E LCL</b></td>
		<td><b>E 20</b></td>
		<td><b>E 20FR</b></td>
		<td><b>E 40</b></td>
		<td><b>E 40FR</b></td>
		<td><b>E 45</b></td>
		<td><b>E 40HC</b></td>
		<td><b>E 40HR</b></td>
		<td><b>E CFS</b></td>
		<td><b>E AIR</b></td>
	</tr>
        <TMPL_LOOP loop>
	<tr>
	  <td><TMPL_VAR STATUT></td>
	  <td><TMPL_VAR UO></td>
	  <td><TMPL_VAR PO_SHPT></td>
	  <td><TMPL_VAR EMBARQUEMENT></td>
	  <td><TMPL_VAR CA_IMPORT_NET_COTE></td>
	  <td><TMPL_VAR CA_IMPORT_NET_ENGAGE></td>
	  <td><TMPL_VAR CA_IMPORT_NET_FACTURE></td>
	  <!--<td><TMPL_VAR is_ID_fees_by_shpt></td>-->
	  <td><TMPL_VAR C_FREIGHT></td>
	  <td><TMPL_VAR C_PORTSERVICE></td>
	  <td><TMPL_VAR C_CUSTOMS></td>
	  <td><TMPL_VAR C_FINAL_DELIVERY></td>
	  <td><TMPL_VAR C_WAREHOUSING></td>
	  <td><TMPL_VAR C_FEES></td>
	  <td><TMPL_VAR C_ADMINLOADS></td>
	  <td><TMPL_VAR C_OTHERCOSTS></td>
	  <td><TMPL_VAR C_TOTAL></td>
	  <td><TMPL_VAR C_DEVICE></td>
	  <td><TMPL_VAR C_TAUX></td>
	  <td><TMPL_VAR C_NB_PCS></td>
	  <td><TMPL_VAR C_M3></td>  
	  <td><TMPL_VAR C_LCL></td>
	  <td><TMPL_VAR C_20></td>
	  <td><TMPL_VAR C_20FR></td>
	  <td><TMPL_VAR C_40></td>
	  <td><TMPL_VAR C_40FR></td>
	  <td><TMPL_VAR C_45></td>
	  <td><TMPL_VAR C_40HC></td>
	  <td><TMPL_VAR C_40HR></td>
	  <td><TMPL_VAR C_CFS></td>
	  <td><TMPL_VAR C_AIR></td>
	  <td><TMPL_VAR A_FREIGHT></td>
	  <td><TMPL_VAR A_PORTSERVICE></td>
	  <td><TMPL_VAR A_CUSTOMS></td>
	  <td><TMPL_VAR A_FINAL_DELIVERY></td>
	  <td><TMPL_VAR A_WAREHOUSING></td>
	  <td><TMPL_VAR A_FEES></td>
	  <td><TMPL_VAR A_ADMINLOADS></td>
	  <td><TMPL_VAR A_OTHERCOSTS></td>
	  <td><TMPL_VAR A_TOTAL></td>
	  <td><TMPL_VAR A_DEVICE></td>
	  <td><TMPL_VAR A_TAUX></td>
	  <td><TMPL_VAR A_NB_PCS></td>
	  <td><TMPL_VAR A_M3></td>	  
	  <td><TMPL_VAR A_LCL></td>
	  <td><TMPL_VAR A_20></td>
	  <td><TMPL_VAR A_20FR></td>
	  <td><TMPL_VAR A_40></td>
	  <td><TMPL_VAR A_40FR></td>
	  <td><TMPL_VAR A_45></td>
	  <td><TMPL_VAR A_40HC></td>
	  <td><TMPL_VAR A_40HR></td>
	  <td><TMPL_VAR A_CFS></td>
	  <td><TMPL_VAR A_AIR></td>
	  <td><TMPL_VAR F_FREIGHT></td>
	  <td><TMPL_VAR F_PORTSERVICE></td>
	  <td><TMPL_VAR F_CUSTOMS></td>
	  <td><TMPL_VAR F_FINAL_DELIVERY></td>
	  <td><TMPL_VAR F_WAREHOUSING></td>
	  <td><TMPL_VAR F_FEES></td>
	  <td><TMPL_VAR F_ADMINLOADS></td>
	  <td><TMPL_VAR F_OTHERCOSTS></td>
	  <td><TMPL_VAR F_TOTAL></td>
	  <td><TMPL_VAR F_SURCOUT></td>
	  <td><TMPL_VAR F_DEVICE></td>
	  <td><TMPL_VAR F_TAUX></td>
	  <td><TMPL_VAR E_FREIGHT></td>
	  <td><TMPL_VAR E_PORTSERVICE></td>
	  <td><TMPL_VAR E_CUSTOMS></td>
	  <td><TMPL_VAR E_FINAL_DELIVERY></td>
	  <td><TMPL_VAR E_WAREHOUSING></td>
	  <td><TMPL_VAR E_FEES></td>
	  <td><TMPL_VAR E_ADMINLOADS></td>
	  <td><TMPL_VAR E_OTHERCOSTS></td>
	  <td><TMPL_VAR E_TOTAL></td>
	  <td><TMPL_VAR E_DEVICE></td>
	  <td><TMPL_VAR E_TAUX></td>
	  <td><TMPL_VAR E_NB_PCS></td>
	  <td><TMPL_VAR E_M3></td>
	  <td><TMPL_VAR E_LCL></td>
	  <td><TMPL_VAR E_20></td>
	  <td><TMPL_VAR E_20FR></td>
	  <td><TMPL_VAR E_40></td>
	  <td><TMPL_VAR E_40FR></td>
	  <td><TMPL_VAR E_45></td>
	  <td><TMPL_VAR E_40HC></td>
	  <td><TMPL_VAR E_40HR></td>
	  <td><TMPL_VAR E_CFS></td>
	  <td><TMPL_VAR E_AIR></td>
	</tr>
	</TMPL_LOOP>
</table>
<TMPL_ELSE>
<link href="scripts/calendar/datepicker.css" type="text/css" rel="stylesheet">
<script src="scripts/calendar/vspcompiled.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
function go(which_ticket, which_uo_like, which_etd_from, which_etd_to){
  var ticket = which_ticket.value;
  var uo_like = which_uo_like.value;
  var etd_from = which_etd_from.value
  var etd_to = which_etd_to.value
  var sortie = "XLS";

   if (document.forms.form_dau_shpt_excell.sortie[0].checked) {
     sortie = "XLS"
   }
   else {
     sortie = "HTML"
   }

  url ="?TICKET="+ticket+"&UO_LIKE="+uo_like+"&ETD_FROM="+etd_from+"&ETD_TO="+etd_to+"&SORTIE="+sortie+"&TO_EXCELL=1";
  document.location.href=url;
}
</script>

<FORM NAME="form_dau_shpt_excell" ID="form_dau_shpt_excell">
<input type="hidden" id="TICKET" value="<TMPL_VAR TICKET>">
<CENTER>
<BR>
<table style="border-collapse: collapse;" border="1" cellpadding="1" bgcolor="#FFFFFF" width="40%">
  <TR>
    <TD>UO LIKE </TD>
    <TD colspan ="2"> <INPUT NAME="UO_LIKE" ID="UO_LIKE" SIZE="10"></TD>
  </TR>
  <TR>
    <TD>FLOATING ETD (YYYYMM) </TD>
    <TD>FROM <INPUT NAME="ETD_FROM" ID="ETD_FROM" SIZE="7" MAXLENGTH="6" VALUE="<TMPL_VAR etd_from>"></TD>
    <TD>TO <INPUT NAME="ETD_TO" ID="ETD_TO" SIZE="7" MAXLENGTH="6" VALUE="<TMPL_VAR etd_to>"></TD>
  </TR>
  <TR>
    <TD>OUTPUT </TD>
    <TD><input name="sortie" id="xls" checked="true" value="XLS" type="Radio"> Excel</TD>
    <TD><input name="sortie" id="html" value="HTML" type="Radio"> HTML</TD>
    </TD>
  </TR>
  <TR>
    <TD colspan="3" ALIGN="CENTER"> 
      <A HREF="" ONCLICK="go(document.getElementById('TICKET'),getElementById('UO_LIKE'),getElementById('ETD_FROM'),getElementById('ETD_TO'));return false;"><img src="images/Button_PM_Find.png" title="Go" BORDER="0">
    </TD>
  </TR>
</table>

<br>
<br>
<br>
<TMPL_LOOP loop_periode>
<a href="http://cbryr.fcsystem.com/dau_shpt_to_excel_by_month.psp?TICKET=1421da792487126e0351fed723d99be6&ETD_FROM=<TMPL_VAR periode>&ETD_TO=<TMPL_VAR periode>&one_file_one_month=1" target="_blank"><TMPL_VAR periode></a>
<br>
</TMPL_LOOP>
</CENTER>
</TMPL_IF>
</FORM>
</HTML>
