<!-- DEB TEMPLATE = liste_login.tmpl -->
<LINK REL="stylesheet" TYPE="text/css" HREF="styles/fcs_style.css">
<br>
<table border="0" cellspacing="1" cellpadding="3" align="center" valign="center" bgcolor="#000000">
	<tr>
		<td class="GRILLE_TITRE" colspan="9">LIST USERS</td>
	</tr>
	<tr>
		<td class="GRILLE_TITRE_CHAMP">Login</td>
		<td class="GRILLE_TITRE_CHAMP">Name</td>
		<td class="GRILLE_TITRE_CHAMP">First Name</td>
		<td class="GRILLE_TITRE_CHAMP">E-mail</td>
		<td class="GRILLE_TITRE_CHAMP">Description</td>
		<td class="GRILLE_TITRE_CHAMP" colspan="2"><a href="liste_login.psp?TICKET=<TMPL_VAR NAME=TICKET>&TRI_DATE_SESSION=1">Derni&egrave;re session</td>
		<td colspan="2" class="GRILLE_TITRE_CHAMP">Access</td>
	</tr>
<TMPL_IF LOOP_LOGIN>
	<TMPL_LOOP NAME="LOOP_LOGIN">
	<TMPL_IF NAME="ALTERNE">
	<tr class="ALTERNE_1">
	<TMPL_ELSE>
	<tr class="ALTERNE_2">
	</TMPL_IF>
		<td>&nbsp;<a href="modifie_login.psp?TICKET=<TMPL_VAR NAME=TICKET>&login_orig=<TMPL_VAR NAME=login>"><TMPL_VAR NAME="login"></a></td>
		<td>&nbsp;<TMPL_VAR NAME="nom"></td>
		<td>&nbsp;<TMPL_VAR NAME="prenom"></td>
		<td>&nbsp;<TMPL_VAR NAME="email"></td>
		<td>&nbsp;<TMPL_VAR NAME="description"></td>
		<td>&nbsp;<TMPL_VAR NAME="date_dern_session">
		<form action="consulte_evenements_session.psp" method="POST">
        <input type="hidden" name="TICKET" value="<TMPL_VAR NAME=TICKET>">
        <input type="hidden" name="LOGIN" value="<TMPL_VAR NAME=login>">
        <td>&nbsp;<input type="submit" name="submit" value="Actions"></td>
        </form>
		<td>&nbsp;<TMPL_VAR NAME="etat"></td>
		<td>&nbsp;<a href="supprime_login.psp?TICKET=<TMPL_VAR NAME=TICKET>&login_id=<TMPL_VAR NAME="login">">D</a></td>
	</tr>
	</TMPL_LOOP>
<TMPL_ELSE>
	<tr bgcolor="#FFFFFF">
		<td colspan="9">There is no user...</td>
	</tr>
</TMPL_IF>
	<tr bgcolor="#FFFFFF">
		<form action="cree_login.psp" method="POST">
		<td class="GRILLE_TITRE_CHAMP" colspan="9" align="center" valign="center"><input type="hidden" name="TICKET" value="<TMPL_VAR NAME=TICKET>"><input type="submit" name="submit" value="Add login"></td>
		</form>
	</tr>
</table>
</BODY>
</HTML>
<!-- FIN TEMPLATE = liste_login.tmpl -->
