<!--script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js" type="text/javascript"></script-->
<script src="ajax/js/prototype.js" type="text/javascript"></script>
<script src="ajax/js/effects.js" type="text/javascript"></script>
<script src="ajax/js/dragdrop.js" type="text/javascript"></script>
<script src="ajax/js/controls.js" type="text/javascript"></script>
<script src="ajax/js/scriptaculous.js" type="text/javascript"></script>

<script src="scripts/fonctions.js" type="text/javascript"></script>
<script src="scripts/window.js" type="text/javascript"></script>

<script src="scripts/dau_main.js" type="text/javascript"></script>



<div id="main_loading_div"></div>
<div id="main_span"></div>


<!--<a href="" onclick="$('dbug_text').innerHTML = '';return false;">clean DBUG</a>-->
<div id="dbug_text" cols="300" rows="30" style="/*display:none*/">
</div>

<!--<a href="" onclick="calcul_ecart();return false">calcul ecart</a>-->



<script language="javascript">
var params;
params = "?sTicket=<TMPL_VAR ticket>";
fill_div("main_span", "<TMPL_VAR php_function>", params);
</script>
