<br>
<form method="post"
action="upload_xls_bills_save.php"
 enctype="multipart/form-data">     
<input type='text' value='{$sMessageToRedirect}'>
<input type="hidden" name="sTicket" value="{$sTicket}">     
<input type="hidden" name="MAX_FILE_SIZE" value="2097152">     
<input type="file" name="files">    
<input type="submit" value="Envoyer">    
</form>
