<link href="./styles/dau.css" type="text/css" rel="stylesheet">
<table style="border-collapse: collapse;" border="1" cellpadding="1" bgcolor="#FFFFFF" width="100%">

	<TMPL_IF id_export_level>
	<tr class = "tag_ocher">
		<td width="100%" align="center"><nobr><span id="field__extra_cost<TMPL_VAR id_issuer>--col__<TMPL_VAR which_col>--po_num__T--bl_num__T" style="font-weight:bold"><TMPL_VAR total_extra_cost_amount></span> </nobr></td>
	</tr>
	<TMPL_ELSE>
	   <tr class = "tag_ocher_dark">
		<td width="100%" align="left"><span id="field__extra_cost<TMPL_VAR id_issuer>--col__T<TMPL_VAR which_col>--po_num__T--bl_num__T" style="font-weight:bold">Prise en charge surcouts</span></td>
		</tr>
	</TMPL_IF>

<TMPL_LOOP loop_extra_cost>
	<tr
	<TMPL_IF alterne>
	bgcolor="#FFFFFF"
	<TMPL_ELSE>
	bgcolor="#DDDDDD"
	</TMPL_IF>
	>	

	<TMPL_IF id_export_level>
		<td width="100%" align="center"><nobr><span id="field__extra_cost<TMPL_VAR id_issuer>--col__<TMPL_VAR which_col>--po_num__--bl_num__"><TMPL_VAR extra_cost_amount> </span> </nobr></td>
	<TMPL_ELSE>
		<td><TMPL_VAR print_accountable></td>
	</TMPL_IF>
	</tr>
</TMPL_LOOP>
</table>