<nobr><span id="field__extra_cost_not_invoiced<TMPL_VAR id_issuer>--col__<TMPL_VAR which_col>--po_num__T--bl_num__T"><TMPL_VAR total_extra_cost_amount></span> </nobr>
<script language="javascript">
$('extra_cost_not_invoiced_min_status').innerHTML = '<TMPL_VAR extra_cost_min_status>'
</script>