
<TMPL_IF loop>
<table>
	<tr>
		<td>
		<SELECT id="attach_id_bl_invoice">
			<TMPL_LOOP loop>
			<OPTION value="<TMPL_VAR id_bl_invoice>"><TMPL_VAR invoice_num> - <TMPL_VAR bl_invoice_amount> <TMPL_VAR print_html_currency></OPTION>
			</TMPL_LOOP>
		</SELECT>
		</td>
		<td><nobr><input type="text" name="attach_amount" id="attach_amount" value="<TMPL_VAR bl_invoice_amount>" size="7"><TMPL_VAR print_html_currency></nobr></td>
		<td><a href="" onclick="save_attach_extra_cost_invoice(<TMPL_VAR id_extra_cost>, $F('attach_id_bl_invoice'), $F('attach_amount'), <TMPL_VAR id_currency>, '<TMPL_VAR coeff_type_facture>');return false"><img src="images/Button_PM_OK.png" border="0"></a></td>
	</tr>
</table>
<TMPL_ELSE>
Pas <TMPL_VAR print_type_piece> pour ce surcout.
</TMPL_IF>


